---
title: Scene
title_suffix: VR
path: "https://cdn.knightlab.com/libs/orangeline/latest/"
intro: Easy-to-make VR stories.
site_name: Scene VR
main_image: "https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png"
description: Easy-to-make, VR stories.
twitter_site: "@knightlab"
twitter_author: "@knightlab"
page_url: "https://scene.knightlab.com"
keywords: "story, news, vr, create, twitter, journalism, virtual reality, google cardboard"
button: Make a Scene
video-link: "https://vimeo.com/143407878"
zendesk-link: "https://knightlab.zendesk.com/forums/22551396-TimelineJS"
github-link: "https://github.com/NUKnightLab/SceneVR/issues"
subnav: [
    {
        title: "Overview",
        link: "#overview"
    },
    {
        title: "Examples",
        link: "#examples"
    },
    {
        title: "Make a Scene",
        link: "#make"
    },
    {
        title: "Help",
        link: "#help"
    }
]
tech_docs: [
    {
        title: "Use our spreadsheet template",
        link: "/docs/using-spreadsheets.html"
    },
    {
        title: "Supported Media Types",
        link: "/docs/media-types.html"
    },
    {
        title: "JSON data format reference",
        link: "/docs/json-format.html"
    },
    {
        title: "Using the TimelineJS CSS selectors",
        link: "/docs/overriding-styles.html"
    },
    {
        title: "Timeline Configuration Options",
        link: "/docs/options.html"
    },
    {
        title: "Using TimelineJS in Javascript",
        link: "/docs/instantiate-a-timeline.html"
    }
]
examples: [
    {
        title: "Mandela: A Life of Purpose",
        link: "http://world.time.com/2013/12/05/nelson-mandelas-extraordinary-life-an-interactive-timeline/",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_mandela.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_time.png"
    },
    {
        title: "Chronology of the French Presidential Race",
        link: "http://www.lemonde.fr/election-presidentielle-2012/visuel/2012/04/21/chronologie-une-si-longue-campagne-presidentielle_1681661_1471069.html#meter_toaster",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_lemonde.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_lemonde.png"
    },
    {
        title: "Historic Fall at University of Missouri",
        link: "http://www.themaneater.com/special-sections/mu-fall-2015/",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_univofmissouri.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_maneater.png"
    },
    {
        title: "North Korea's Nuclear Ambitions",
        link: "http://www.cnn.com/2016/04/20/asia/north-korea-restaurant-defectors/index.html",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_northkorea.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_cnn.png"
    },
    {
        title: "Bulger on Trial",
        link: "http://bulger.wbur.org/story/1977/?location=44444",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_bulger.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_wbur.png"
    },
    {
        title: "The Decline of IRS Nonprofit Regulation",
        link: "https://www.publicintegrity.org/2014/07/15/15037/decades-making-decline-irs-nonprofit-regulation",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_supremecourt.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_centerforpublicintegrity.png"
    },
    {
        title: "Aurora, Colorado Movie Theater Shooting",
        link: "http://www.denverpost.com/breakingnews/ci_21119904",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_denver_shooting.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_denverpost.png"
    },
    {
        title: "The Collapse of Microsoft and Nokia's Mobile Business",
        link: "https://www.engadget.com/2016/04/22/microsoft-mobile-timeline/",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_mobile_device.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_engadget.png"
    },
    {
        title: "How ISIS Spread to 10 Countries",
        link: "http://www.ibtimes.com/islamic-state-timeline-shows-how-isis-expanded-one-year-two-countries-ten-1959705",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_isis.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_ibt.png"
    },
    {
        title: "Reported Sexual Assault Cases by Texas Educators",
        link: "http://www.ksat.com/news/texas/middle-school-teacher-had-sexual-relationship-with-student-authorities-say_",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_perpwalk.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_ksat.png"
    },
    {
        title: "A History of Wine Around the World",
        link: "http://vinepair.com/wine-colonized-world-wine-history/#1",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_wine.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_vinepair.png"
    },
    {
        title: "The Mystery of Malaysia Airlines Flight 370",
        link: "http://mashable.com/2014/03/13/timeline-malaysia-airlines-flight-370/?utm_cid=mash-com-Tw-main-link#hzbp7TyJREqX",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_malaysia-airlines.jpg",
        logo: "https://timeline.knightlab.com/static/img/examples/logos/logo_mashable.png"
    },
    {
        title: "Revolutionary User Interfaces",
        link: "https://timeline.knightlab.com/examples/user-interface/index.html",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_userinterface.png",
        logo: ""
    },
    {
        title: "A Brief History of the Banana Business",
        link: "http://beyondtheseal.com/#19",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_banana.png",
        logo: ""
    },
    {
        title: "The Republican Run-Up",
        link: "https://timeline.knightlab.com/examples/republican/index.html",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_republican.jpg",
        logo: ""
    },
    {
        title: "Whitney Houston: 1963-2012",
        link: "https://timeline.knightlab.com/examples/houston/index.html",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_houston.jpg",
        logo: ""
    }
]
faq: [
    {
        question: "How do I edit my timeline?",
        answer: "Once you've created a timeline, you can make changes by going back to your Google spreadsheet. Changes you make to the spreadsheet are automatically available to your Timeline—you don't need to repeat the 'publish to the web' step (step #2). If you want to make changes to the optional settings, you will need to update your embed code, but if you are only changing content in the spreadsheet, then there's nothing else to do.",
        link: ""
    },
    {
        question: "What web browsers does TimelineJS work with?",
        answer: "Our primary development and testing browser is Google Chrome. We adhere closely to web standards, so we believe that TimelineJS should work effectively in all modern web browsers. TimelineJS is known to not work with Internet Explorer versions before IE10.",
        link: ""
    },
    {
        question: "What are my options for changing how my Timeline looks?",
        answer: "First, make sure you know everything you can do in the spreadsheet configuration, like background colors and images. Also, check out the optional settings part of 'step 3' of the authoring tool. You can change the fonts, the position of the timeline navigation, and the initial zoom level. If you still want to do more, there are some configuration options available. Most of those are for fine tuning, but some of them may be helpful.",
        link: ""
    },
    {
        question: "There aren't enough options. I want more control over the [font size/color/etc]. Can I change things using CSS?",
        answer: "Because there are so many details to the styling, this is not exactly simple, but, if you have some technical capacity, you can override
          TimelineJS's <abbr title='Cascading Style Sheets'>CSS</abbr> rules and have complete control
          over the look of the timeline. For details, see <a href='/docs/overriding-styles.html'>Using the TimelineJS CSS selectors</a>. You will need to be able to <a href='/docs/instantiate-a-timeline.html'>instantiate the Timeline</a> in javascript on your own page.
          (There is no way to override the CSS using the <code>iframe</code> embed.) Then, either in <code>&lt;style&gt;</code> tags in that page, or in an external
          stylesheet, you can specify CSS rules changing some or all of TimelineJS's default presentation. The basis of TimelineJS's styles are in
          <a href='https://github.com/NUKnightLab/TimelineJS3/tree/master/source/less'>these files</a>, which use the <a href='http://lesscss.org/'>Less CSS preprocessor</a>.",
          link: ""
    },
    {
        question: "How can I categorize or group my events?",
        answer: "Every event in a timeline can have a group property. Events with the same group are shown in the same row or adjacent rows, and the common value of their group property is used as a label at the left edge of the timeline. Groups can be set using the 'group' column in the Google Spreadsheet or the 'group' property of a JSON slide object. TimelineJS does not support any other special styling for events in the same group.",
        link: ""
    },
    {
        question: "The first slide in my timeline isn't the first chronologically. Why did this happen?",
        answer: '',
        link: ""
    },
    {
        question: 'Can I make media images clickable?',
        answer: '',
        link: ""
    },
    {
        question: 'How can I format text (add line breaks, bold, italics)?',
        answer: '',
        link: ""
    },
    {
        question: 'How do I enter BCE dates?',
        answer: '',
        link: ""
    },
    {
        question: 'How do I create very ancient dates?',
        answer: '',
        link: ""
    },
    {
        question: 'Who can access the data in my Google spreadsheet?',
        answer: '',
        link: ""
    },
    {
        question: 'Privacy is very important to me. How should I use TimelineJS?',
        answer: '',
        link: ""
    },
    {
        question: 'Will my spreadsheet get picked up by search engines?',
        answer: '',
        link: ""
    },
    {
        question: 'Can I use TimelineJS with Wordpress? ',
        answer: '',
        link: ""
    },
    {
        question: 'Is TimelineJS free for commercial use?',
        answer: '',
        link: ""
    }
]
---
{{partials 'head' this }}

<body>
    {{partials 'navbar-product-top' this }}
    {{partials 'header-product' this }}
    <article id="product-body">
        <section id="demo" class="container-fluid">
            <div class="product-demo">
                <iframe frameborder="0" src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1xuY4upIooEeszZ_lCmeNx24eSFWe0rHe9ZdqH2xqVNk&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=100%" width="100%"></iframe>
            </div>

        </section>
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">

        			<p>
        				SceneVR is an engaging way to tell stories from an entirely new perspective. It turns your collection of panoramic and VR-ready photos into a series of navigable scenes, allowing you to create unique 360° narratives. A simple-to-use editor allows you to order your photos, add descriptions and add text. Your stories can then easily be embedded and viewed anywhere using simple and intuitive controls. Best of all, because SceneVR runs entirely in your browser, your stories can be viewed on desktop, mobile devices and even the most popular VR devices without the need for any extra apps or plugins.
        			</p>
                    <figure>
                        <div class="embed embed-16by9">
                            <iframe class="embed-item" src="https://player.vimeo.com/video/143407878"></iframe>
                        </div>
                    	<figcaption class="credit">Knight Lab</figcaption>
                    	<figcaption>
                    		A caption for the above image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.
                    	</figcaption>
                    </figure>

        		</div>
        		<div class="grid-item">
        			<h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
                        <li>Ensure your photos are hosted on Flickr</li>
                        <li>Write each scene as part of a larger narrative</li>
        				<li>Keep the text short and simple</li>
                        <li>If you want your photo to start at a certain angle, use the orientation column in the Google spreadsheet</li>
        			</ol>
        			<h3>Media sources</h3>
        			<p>
        				We support only Flickr images for now.
        			</p>
        		</div>
        	</div>

        </section>

        {{partials 'examples' this }}

        <section class="section-color section-color-complement" id="make">
            <div class="container">
                <h2>Make a Timeline</h2>
                <p>
                    TimelineJS works on any site or blog. Make your own in four easy steps. <br>      <em>Having trouble? Watch our <a href="https://vimeo.com/143407878">video</a>, or see the <a href="#help">help section below</a>.</em>
                </p>

                <ol class="instructional-steps">

                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Create your spreadsheet</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Build a new Google Spreadsheet using our template. You'll need to copy the template to your own Google Drive account by clicking the "Use this template" button.</p>
                            <p>Drop dates, text and links to media into the appropriate columns. For more about working with our template, see our <a href="#">help docs.</a></p>
                            <a class="button button-complement" href="https://drive.google.com/previewtemplate?id=1pHBvXN7nmGkiG8uQSUB82eNlnL8xHu6kydzH_-eguHQ&mode=public" target="_blank">Get the Spreadsheet Template &nbsp;<span class="icon-new-tab"></span></a>
                            <p class="note">Don't change the column headers, don't remove any columns, and don't leave any blank rows in your spreadsheet.</p>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Publish to the web</h6>
                        </div>
                        <div class="step-details column-10">

                            <div class="grid">
                                <div class="grid-item">
                                    <p>Under the File menu, select “Publish to the Web.”</p>
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_small.png" />
                                    <p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
                                    <p>Now, copy the URL that appears in the center of the window. You'll use this in the next step.</p>
                                </div>
                                <div class="grid-item">
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_button_small.png" />
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_url_small.png" />
                                </div>
                            </div>
                            <p class="note note-alert">
                                The following has changed as of 21 November 2016!<br/><br/>
                                Close the 'Publish to the web' window. Copy the URL for your Timeline from the browser's address bar. It should look something like this:<br />
                                 <code>https://docs.google.com/spreadsheets/d/1xuY4upIooEeszZ_lCmeNx24eSFWe0rHe9ZdqH2xqVNk/edit#gid=0</code>
                                <br/><br/>Disregard the URL that appears in the "publish to the web" window. It used to be used below, but changes to Google mean that you'll get an error if you use it now.
                            </p>
                        </div>

                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Generate your timeline</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Copy/paste spreadsheet URL into the box below to generate your timeline. (Make sure you've published the spreadsheet.)</p>
                            <form>

                                <div class="grid grid-left ">
                                    <div class="input-group-label column-12">
                                        <label class="input-group-addon" for="inlinelabel">Google Spreadsheet URL</label>
                                        <input type="text" placeholder="1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI" name="inlinelabel">
                                    </div>
                                    <div class="input-group-label column-3">
                                        <label class="input-group-addon" for="inlinelabel">Width</label>
                                        <input type="text" value="100%" placeholder="100%" id="embed-width" class="input-mini">
                                    </div>
                                    <div class="input-group-label column-3">
                                        <label class="input-group-addon" for="inlinelabel">Height</label>
                                        <input type="text" value="650" placeholder="650" id="embed-height" class="input-mini">
                                    </div>
                                </div>
                            </form>

                            <div class="panel">
                                <form>
                                    <fieldset>
                                        <h5 style="margin-top:0;">Optional settings
                                            <a class="show-options" href="#" style="display: none;">(show)<span class="caret"></span></a>
                                            <a class="hide-options" href="#" style="display: inline;">(hide)<span class="caret"></span></a>
                                        </h5>
                                        <p class="small"><em>Set language, fonts, starting slide and more.</em></p>
                                        <div class="more-options" style="display: block;">
                                            <div class="grid">
                                                <!-- Language-->
                                                <div class="grid-item">
                                                    <h6>Language</h6>
                                                    <select id="embed-language">
                                                        <option value="en" data-lang="English">English</option>
                                                        <option value="en-24hr" data-lang="English (24-hour time)">English (24-hour time)</option>
                                                        <option value="ar" data-lang="Arabic">العربية</option>
                                                        <option value="af" data-lang="Afrikaans">Afrikaans</option>
                                                        <option value="id" data-lang="Indonesian">Bahasa Indonesia</option>
                                                        <option value="ms" data-lang="Malay">Bahasa Melayu</option>
                                                        <option value="be" data-lang="Belarusian">Беларуская мова</option>
                                                        <option value="bg" data-lang="Bulgarian">български език</option>
                                                        <option value="ca" data-lang="Catalan">Català</option>
                                                        <option value="cz" data-lang="Czech">Čeština</option>
                                                        <option value="da" data-lang="Danish">Dansk</option>
                                                        <option value="hi" data-lang="Hindi">हिन्दी</option>
                                                        <option value="de" data-lang="German">Deutsch</option>
                                                        <option value="et" data-lang="Estonian">Eesti keel</option>
                                                        <option value="el" data-lang="Greek">ελληνικά</option>
                                                        <option value="es" data-lang="Spanish">Español</option>
                                                        <option value="eo" data-lang="Esperanto">Esperanto</option>
                                                        <option value="eu" data-lang="Basque">Euskara</option>
                                                        <option value="fo" data-lang="Faroese">Føroyskt</option>
                                                        <option value="fr" data-lang="French">Français</option>
                                                        <option value="fy" data-lang="Frisian">Frysk</option>
                                                        <option value="ga" data-lang="Irish">Gaeilge</option>
                                                        <option value="gl" data-lang="Galician">Galego</option>
                                                        <option value="ko" data-lang="Korean">한국어</option>
                                                        <option value="hr" data-lang="Croatian">Hrvatski</option>
                                                        <option value="hy" data-lang="Armenian">Հայերէն</option>
                                                        <option value="is" data-lang="Icelandic">Íslenska</option>
                                                        <option value="it" data-lang="Italian">Italiano</option>
                                                        <option value="he" data-lang="Hebrew">עברית</option>
                                                        <option value="ka" data-lang="Georgian">ქართული</option>
                                                        <option value="lv" data-lang="Latvian">Latviešu valoda</option>
                                                        <option value="lb" data-lang="Luxembourgish">Lëtzebuergesch</option>
                                                        <option value="lt" data-lang="Lithuanian">Lietuvių kalba</option>
                                                        <option value="ro" data-lang="Romanian">Limba română</option>
                                                        <option value="hu" data-lang="Hungarian">Magyar</option>
                                                        <option value="my" data-lang="Myanmar"> မြန်မာ</option>
                                                        <option value="nl" data-lang="Dutch">Nederlands</option>
                                                        <option value="ne" data-lang="Nepali">नेपाली</option>
                                                        <option value="ja" data-lang="Japanese">日本語</option>
                                                        <option value="no" data-lang="Norwegian">Norsk</option>
                                                        <option value="th" data-lang="Thai">ภาษาไทย</option>
                                                        <option value="pl" data-lang="Polish">Polski</option>
                                                        <option value="pt" data-lang="Portuguese">Português</option>
                                                        <option value="pt-br" data-lang="Portuguese - Brazilian">Português (Brasil)</option>
                                                        <option value="rm" data-lang="Romansh">Rumantsch</option>
                                                        <option value="ru" data-lang="Russian">Русский язык</option>
                                                        <option value="si" data-lang="Sinhalese">සිංහල</option>
                                                        <option value="sl" data-lang="Slovenian">Slovenščina</option>
                                                        <option value="sk" data-lang="Slovak">Slovenčina</option>
                                                        <option value="sr" data-lang="Serbian - Latin">Srpski</option>
                                                        <option value="sr-cy" data-lang="Serbian - Cyrillic">српски</option>
                                                        <option value="fi" data-lang="Finnish">Suomi</option>
                                                        <option value="sv" data-lang="Swedish">Svenska</option>
                                                        <option value="zh-tw" data-lang="Taiwanese">Taiwanese</option>
                                                        <option value="tl" data-lang="Tagalog">Tagalog</option>
                                                        <option value="ta" data-lang="Tamil">தமிழ்</option>
                                                        <option value="te" data-lang="Telugu">తెలుగు</option>
                                                        <option value="tr" data-lang="Turkish">Türkçe</option>
                                                        <option value="uk" data-lang="Ukrainian">Українська</option>
                                                        <option value="ur" data-lang="Urdu">اُردُو</option>
                                                        <option value="vi" data-lang="Vietnamese">Tiếng Việt</option>
                                                        <option value="fa" data-lang="Farsi">فارسی</option>
                                                        <option value="zh-cn" data-lang="Chinese">中文</option>
                                                    </select>
                                                </div>

                                                <!-- Fonts-->
                                                <div class="grid-item" style="position: relative">
                                                    <h6>Fonts</h6>
                                                    <div id="embed-font-dropdown">
                                                        <p style="padding-top:4px;"><img id="font-pair-preview" src="http://timeline.knilab.com/static/img/make/default.png"></p>
                                                        <ul id="embed-font" style="display: none;">
                                                            <li data-value="Default" id="embed-font-active"><i class="fa fa-check"></i> <img src="static/img/make/default.png" alt="PT Narrow and PT Serif"></li>
                                                            <li data-value="Abril-DroidSans"><img src="static/img/make/abril-droidsans.png" alt="Abril and Droid Sans"></li>
                                                            <li data-value="Amatic-Andika" checked=""><img src="static/img/make/amatic-andika.png" alt="Amatic and Andika"></li>
                                                            <li data-value="Bevan-PontanoSans"><img src="static/img/make/bevan-pontanosans.png" alt="Bevan and Pontano Sans"></li>
                                                            <li data-value="Bitter-Raleway"><img src="static/img/make/bitter-raleway.png" alt="Bitter and Raleway"></li>
                                                            <li data-value="Clicker-Garamond"><img src="static/img/make/clicker-garamond.png" alt="Clicker and Garamond"></li>
                                                            <li data-value="Dancing-Ledger"><img src="static/img/make/dancing-ledger.png" alt="Dancing and Ledger"></li>
                                                            <li data-value="Fjalla-Average"><img src="static/img/make/fjalla-average.png" alt="Fjalla and Average"></li>
                                                            <li data-value="Georgia-Helvetica"><img src="static/img/make/georgia-helvetica.png" alt="Georgia and Helvetica"></li>
                                                            <li data-value="Lustria-Lato"><img src="static/img/make/lustria-lato.png" alt="Lustria and Lato"></li>
                                                            <li data-value="Medula-Lato"><img src="static/img/make/medula-lato.png" alt="Medula One and Lato"></li>
                                                            <li data-value="OldStandard"><img src="static/img/make/oldstandard.png" alt="Old Standard"></li>
                                                            <li data-value="OpenSans-GentiumBook"><img src="static/img/make/opensans-gentiumbook.png" alt="Open Sans and Gentium Book"></li>
                                                            <li data-value="Playfair-FaunaOne"><img src="static/img/make/playfair-faunaone.png" alt="Playfair and Fauna One"></li>
                                                            <li data-value="Playfair"><img src="static/img/make/playfair.png" alt="Playfair SC and Playfair"></li>
                                                            <li data-value="PT"><img src="static/img/make/pt.png" alt="PT Sans, PT Sans Narrow, and PT Serif"></li>
                                                            <li data-value="Roboto-Megrim"><img src="static/img/make/roboto-megrim.png" alt="Roboto and Megrim"></li>
                                                            <li data-value="Rufina-Sintony"><img src="static/img/make/rufina-sintony.png" alt="Rufina and Sintony"></li>
                                                            <li data-value="UnicaOne-Vollkorn"><img src="static/img/make/unicaone-vollkorn.png" alt="Unica One and Vollkorn"></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="grid-item">
                                                    <h6>Map Type</h6>
                                                    <div id="embed-maptype">
                                                        <p class="small">Currently all Google's base maps are supported. When creating a Google map, style it the way you would like it to appear, and then paste the resulting link into your Google Spreadsheet.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="grid-size-3 grid-left">
                                                <div class="grid-item">
                                                    <h6>Default start slide</h6>
                                                    <div class="input-group-label">
                                                        <label class="input-group-addon" for="inlinelabel">Slide</label>
                                                        <input type="text" value="0" placeholder="0" id="embed-startatslide" class="input-mini">
                                                    </div>
                                                    <p class="small"><em>You can tell TimelineJS to start at a specific slide number.</em></p>
                                                </div>
                                                <div class="grid-item">
                                                    <h6>Initial zoom level</h6>
                                                    <div class="input-group-label">
                                                        <label class="input-group-addon" for="inlinelabel">Zoom Level</label>
                                                        <input type="text" value="2" placeholder="2" id="embed-initialzoom" class="input-mini">
                                                    </div>
                                                    <p class="small"><em>The zoom level at which the timeline portion of TimelineJS will display on load. Specify a value from 0-10 (default is 2). Smaller numbers show a greater span of time.</em></p>
                                                </div>
                                            </div>


                                            <div class="grid grid-no-gutters">
                                                <div class="column-12">
                                                    <h6>Misc</h6>
                                                </div>
                                            </div>

                                            <div class="grid-size-3 grid-left">
                                                <div class="grid-item">
                                                    <label class="checkbox">
                                                        <input id="embed-startatend" type="checkbox" value="option1">Start at the end <br/><small style="display:block;margin-left:1.4rem;"><em>Begins the timeline on the last slide.</em></small>
                                                    </label>
                                                </div>
                                                <div class="grid-item">
                                                    <label class="checkbox">
                                                        <input id="embed-timenavtop" type="checkbox" value="option1">Show nav on top
                                                        <br/><small style="display:block;margin-left:1.4rem;"><em>Switches the vertical order of the timeline navigation and the media.</em></small>
                                                    </label>
                                                </div>
                                                <div class="grid-item">
                                                    <label class="checkbox">
                                                        <input id="embed-debug" type="checkbox" value="option1">Debug
                                                        <br/><small style="display:block;margin-left:1.4rem;"><em>In debug mode, the JavaScript console will display logging messages.</em></small>
                                                    </label>
                                                </div>
                                                <div class="grid-item">
                                                    <label class="checkbox">
                                                         <input id="embed-hash-bookmark" type="checkbox" value="option1">Use hash bookmarks
                                                        <br/><small style="display:block;margin-left:1.4rem;"><em>Assigns a hash bookmark to each slide's URL, allowing deep linking to slides. (For directly-linked Timelines only -- does not work for iframe embeds)</em></small>
                                                    </label>
                                                </div>
                                            </div>







                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </li>

                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Share your timeline</h6>
                        </div>
                        <div class="step-details column-10">

                            <h6>Share Link</h6>
                            <!-- <ul class="list--social">
                                <li>
                                    <a class="link--no-style" href="#" ><span class="icon-twitter text-color-complement"></span></a>
                                </li>
                                <li>
                                    <a class="link--no-style" href="#"><span class="icon-facebook text-color-complement"></span></a>
                                </li>
                            </ul> -->

                            <form>
                                <textarea rows="3" type="text" "readonly" name="textplaceholder" value="" style="height:4rem;">
https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Bevan-PotanoSans&maptype=toner&width=600&height=600
                                </textarea>
                            </form>

                            <h6>Embed</h6>
                            <p class="small">Grab the embed code and paste it on your site where you want your timeline to appear (just like a YouTube video). <em>If you're embedding on Medium.com just paste the link from the right where you want your timeline to appear.</em></p>
                            <form>
                                <textarea rows="3" readonly="readonly" type="text" name="textplaceholder" value="" style="height:5rem;">
&lt;iframe src=&apos;https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&amp;font=Bevan-PotanoSans&amp;maptype=toner&amp;width=600&amp;height=600&apos; width=&apos;600&apos; height=&apos;600&apos; frameborder=&apos;0&apos;&gt;&lt;/iframe&gt;
                                </textarea>
                            </form>
                            <a class="button button-complement" href="#" target="_blank">Preview</a>&nbsp;
                            <a class="button button-light" href="#" target="_blank">Open Preview in a new window  &nbsp;<span class="icon-new-tab"></span></a>


                        </div>
                    </li>
                </ol>
            </div>

            <div id="preview-embed">
                <div class="container">
                    <h3>Preview Embed</h3>
                </div>
                <section id="demo" class="container-fluid">
                    <div id="preview-embed-iframe" class="product-demo">
                        <iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=650" width="100%" height="650" frameborder="0"></iframe>
                    </div>

                </section>
            </div>
        </section>

        {{partials 'help' this }}



    </article>

    {{partials 'moth-product' this }}
    {{partials 'footer' this }}

</body>
