---
title: Scene
title_suffix: VR
path: "https://cdn.knightlab.com/libs/orangeline/latest/"
intro: Easy-to-make VR stories <em>(coming soon)</em>
site_name: Scene VR
main_image: "https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png"
description: Easy-to-make, VR stories.
twitter_site: "@knightlab"
twitter_author: "@knightlab"
page_url: "https://scene.knightlab.com"
keywords: "story, news, vr, create, twitter, journalism, virtual reality, google cardboard"
button: Make a Scene
video-link: "https://vimeo.com/143407878"
zendesk-link: "https://knightlab.zendesk.com/forums/22551396-TimelineJS"
github-link: "https://github.com/NUKnightLab/SceneVR/issues"
subnav: [
    {
        title: "Overview",
        link: "#overview"
    },
    {
        title: "Examples",
        link: "#examples"
    },
    {
        title: "Make a Scene",
        link: "#make"
    },
    {
        title: "Help",
        link: "#help"
    }
]
tech_docs: [
    {
        title: "More info in out GitHub repo.",
        link: "https://github.com/NUKnightLab/SceneVR"
    }
]
examples: [
    {
        title: "Coming Soon",
        link: "http://world.time.com/2013/12/05/nelson-mandelas-extraordinary-life-an-interactive-timeline/",
        image: "https://timeline.knightlab.com/static/img/examples/thumbs/thumb_mandela.jpg"
    }
]
faq: [
    {
        question: "How do I edit my scenes?",
        answer: "You can make changes by going back to your Google spreadsheet. Changes you make to the spreadsheet are automatically available to your Scene. You do not need to repeat the 'publish to the web' step (step #2). If you want to make changes to the optional settings, you will need to update your embed code, but if you are only changing content in the spreadsheet, then there's nothing else to do.",
        link: ""
    },
    {
        question: "What web browsers does SceneVR work with?",
        answer: "Our primary development and testing browser is Google Chrome. We adhere closely to web standards, so we believe that SceneVR should work effectively in all modern web browsers. SceneVR is known to not work with Internet Explorer versions before IE10.",
        link: ""
    }
]
---
{{partials 'head' this }}

<body>
    {{partials 'navbar-product-top' this }}
    {{partials 'header-product' this }}
    <article id="product-body">
        <section id="demo" class="container-fluid">
            <div class="product-demo">
                <iframe frameborder="0" src="templates/pages/scene.html?source=1pBuV46K52elXMC5XUHBK7aPlKc7-w_hdPEf_P2PceCk" width="100%"></iframe>
            </div>

        </section>
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">

        			<p>
        				Scene VR is an engaging way to tell stories from an entirely new perspective. It turns your collection of panoramic and VR-ready photos into an embeddable 360° narrative. Scene VR runs entirely in your browser so your stories can be viewed on mobile, desktop, and even the most popular VR devices without the need for any extra apps or plugins.
        			</p>
                    <p>
                        Scene VR is currently under development so you may see bugs or incomplete features. We are planning to finish our initial development in a month or two.
                    </p>
                    <!-- <figure>
                        <div class="embed embed-16by9">
                            <iframe class="embed-item" src="https://player.vimeo.com/video/143407878"></iframe>
                        </div>
                    	<figcaption class="credit">Knight Lab</figcaption>
                    	<figcaption>
                    		A caption for the above image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.
                    	</figcaption>
                    </figure> -->

        		</div>
        		<div class="grid-item">
        			<h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
                        <li>Ensure your photos are hosted on Flickr</li>
                        <li>Write text for each scene as part of a larger narrative</li>
        				<li>Keep the text short and simple</li>
                        <li>If you want your photo to start at a certain angle, use the orientation column in the Google spreadsheet</li>
        			</ol>
        			<h3>Media sources</h3>
        			<p>
        				We support only Flickr images for now.
        			</p>
        		</div>
        	</div>

        </section>

        {{partials 'examples' this }}

        <section class="section-color section-color-complement" id="make">
            <div class="container">
                <h2>Make a Scene</h2>
                <p>Coming Soon!</p>
                <!-- <p>
                    Scene VR works on any site or blog. Make your own in four easy steps. <br>      <em>Having trouble? See the <a href="#help">help section below</a>.</em>
                </p>

                <ol class="instructional-steps">

                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Create your spreadsheet</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Build a new Google Spreadsheet using our template. You'll need to copy the template to your own Google Drive account by clicking the "Use this template" button.</p>
                            <p>Drop dates, text and links to media into the appropriate columns. For more about working with our template, see our <a href="#">help docs.</a></p>
                            <a class="button button-complement" href="https://docs.google.com/spreadsheets/d/1fWdaOBE62qfr3OWZGsPqbF4X-bh_VQJ5U3fbbZbd61U/copy" target="_blank">Get the Spreadsheet Template &nbsp;<span class="icon-new-tab"></span></a>
                            <p class="note">Don't change the column headers, don't remove any columns, and don't leave any blank rows in your spreadsheet.</p>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Publish to the web</h6>
                        </div>
                        <div class="step-details column-10">

                            <div class="grid">
                                <div class="grid-item">
                                    <p>Under the File menu, select “Publish to the Web.”</p>
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_small.png" />
                                    <p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
                                    <p>Now, copy the URL that appears in the center of the window. You'll use this in the next step.</p>
                                </div>
                                <div class="grid-item">
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_button_small.png" />
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_url_small.png" />
                                </div>
                            </div>
                            <p class="note note-alert">
                                The following has changed as of 21 November 2016!<br/><br/>
                                Close the 'Publish to the web' window. Copy the URL for your Timeline from the browser's address bar. It should look something like this:<br />
                                 <code>https://docs.google.com/spreadsheets/d/1fWdaOBE62qfr3OWZGsPqbF4X-bh_VQJ5U3fbbZbd61U/</code>
                                <br/><br/>Disregard the URL that appears in the "publish to the web" window. It used to be used below, but changes to Google mean that you'll get an error if you use it now.
                            </p>
                        </div>

                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Generate your timeline</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Copy/paste spreadsheet URL into the box below to generate your timeline. (Make sure you've published the spreadsheet.)</p>
                            <form>

                                <div class="grid grid-left ">
                                    <div class="input-group-label column-12">
                                        <label class="input-group-addon" for="inlinelabel">Google Spreadsheet URL</label>
                                        <input type="text" placeholder="1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI" name="inlinelabel">
                                    </div>
                                    <div class="input-group-label column-3">
                                        <label class="input-group-addon" for="inlinelabel">Width</label>
                                        <input type="text" value="100%" placeholder="100%" id="embed-width" class="input-mini">
                                    </div>
                                    <div class="input-group-label column-3">
                                        <label class="input-group-addon" for="inlinelabel">Height</label>
                                        <input type="text" value="650" placeholder="650" id="embed-height" class="input-mini">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Share your timeline</h6>
                        </div>
                        <div class="step-details column-10">

                            <h6>Share Link</h6>

                            <form>
                                <textarea rows="3" type="text" "readonly" name="textplaceholder" value="" style="height:4rem;">
https://scene.knightlab.com/templates/pages/scene.html?source=1pBuV46K52elXMC5XUHBK7aPlKc7-w_hdPEf_P2PceCk
                                </textarea>
                            </form>

                            <h6>Embed</h6>
                            <p class="small">Grab the embed code and paste it on your site where you want your timeline to appear (just like a YouTube video). <em>If you're embedding on Medium.com just paste the link from the right where you want your timeline to appear.</em></p>
                            <form>
                                <textarea rows="3" readonly="readonly" type="text" name="textplaceholder" value="" style="height:5rem;">
&lt;iframe src=&apos;https://scene.knightlab.com/templates/pages/scene.html?source=1pBuV46K52elXMC5XUHBK7aPlKc7-w_hdPEf_P2PceCk&apos; width=&apos;600&apos; height=&apos;600&apos; frameborder=&apos;0&apos;&gt;&lt;/iframe&gt;
                                </textarea>
                            </form>
                            <a class="button button-complement" href="#" target="_blank">Preview</a>&nbsp;
                            <a class="button button-light" href="#" target="_blank">Open Preview in a new window  &nbsp;<span class="icon-new-tab"></span></a>


                        </div>
                    </li>
                </ol> -->
            </div>

            <!-- <div id="preview-embed">
                <div class="container">
                    <h3>Preview Embed</h3>
                </div>
                <section id="demo" class="container-fluid">
                    <div id="preview-embed-iframe" class="product-demo">
                        <iframe src="" width="100%" height="650" frameborder="0"></iframe>
                    </div>

                </section>
            </div> -->
        </section>

        {{partials 'help' this }}



    </article>

    {{partials 'moth-product' this }}
    {{partials 'footer' this }}

    <script type="text/javascript">
        // const spreadsheetInputEl = document.getElementById('step-3-form');
        // spreadsheetInputEl.addEventListener('input', (e) => updateEmbed(e));
        //
        // function updateEmbed(e) {
        //     const spreadsheetInputEl = document.getElementById('spreadsheet-input');
        //     const source = spreadsheetInputEl.value ? parseGoogleSpreadsheetURL(spreadsheetInputEl.value).key : '1fWdaOBE62qfr3OWZGsPqbF4X-bh_VQJ5U3fbbZbd61U';
        //
        //     const widthInputEl = document.getElementById('embed-width');
        //     const width = widthInputEl.value;
        //
        //     const heightInputEl = document.getElementById('embed-height');
        //     const height = heightInputEl.value;
        //
        //     const options = {
        //         source,
        //         width,
        //         height
        //     };
        //     const queryParamsString = buildQueryParamsString(options);
        //
        //     let shareLinkEl = document.getElementById('share-link');
        //     const srcUrl = `http://scene.knightlab.com/templates/pages/scene.html?${queryParamsString}`;
        //     shareLinkEl.value = srcUrl;
        //
        //     let iframe = `<iframe src="${srcUrl}" width="${options.width}" height="${options.height}" frameborder="0"></iframe>`;
        //     document.getElementById('embed').value = iframe;
        // }
        //
        // function buildQueryParamsString(params) {
        //     let queryParams = [];
        //     for (var key in params) {
        //         if (params.hasOwnProperty(key)) {
        //             queryParams.push(`${key}=${params[key]}`);
        //         }
        //     }
        //     return queryParams.join('&');
        // }
        //
        // function parseGoogleSpreadsheetURL(url) {
        //     parts = {
        //         key: null,
        //         worksheet: 0 // not really sure how to use this to get the feed for that sheet, so this is not ready except for first sheet right now
        //     }
        //     // key as url parameter (old-fashioned)
        //     var key_pat = /\bkey=([-_A-Za-z0-9]+)&?/i;
        //     var url_pat = /docs.google.com\/spreadsheets(.*?)\/d\//; // fixing issue of URLs with u/0/d
        //
        //     if (url.match(key_pat)) {
        //         parts.key = url.match(key_pat)[1];
        //         // can we get a worksheet from this form?
        //     } else if (url.match(url_pat)) {
        //         var pos = url.search(url_pat) + url.match(url_pat)[0].length;
        //         var tail = url.substr(pos);
        //         parts.key = tail.split('/')[0]
        //         if (url.match(/\?gid=(\d+)/)) {
        //             parts.worksheet = url.match(/\?gid=(\d+)/)[1];
        //         }
        //     } else if (url.match(/^\b[-_A-Za-z0-9]+$/)) {
        //         parts.key = url;
        //     }
        //
        //     if (parts.key) {
        //         return parts;
        //     } else {
        //         return null;
        //     }
        // }

    </script>
    <script src="https://cdn.knightlab.com/libs/orangeline/latest/js/main.js"></script>
</body>
