<section class="section-color fill-color-grey--lightest" id="examples">
    <div class="container">
        <h2>Examples</h2>
        <div class="example-grid">
            {{#each examples}}
                <div class="grid-item">
                    <a href="{{this.link}}" class="button button-light">
                        <figure class="examples">
                            <img src="{{this.image}}" alt="{{this.title}}">
                        </figure>
                        {{#if this.logo}}<img src="{{this.logo}}" class="logo-inline">{{/if}}
                        <h4>{{this.title}}</h4>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</section>
