{{!--
LOOKS FOR THESE Variables
main_image
description
twitter_site
twitter_author
page_url
site_name
title
keywords
 --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} {{#if title_suffix}}{{title_suffix}}{{else}}JS{{/if}}</title>
    <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
    <link rel="stylesheet" href="{{path}}css/orangeline.css"/>
    {{#if css_file}}<link rel="stylesheet" href="{{css_file}}"/>{{/if}}

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{path}}assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{path}}assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{path}}assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{path}}assets/favicons/manifest.json">
    <link rel="mask-icon" href="{{path}}assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->

    <!-- Meta -->
    {{#if keywords}}<meta name="keywords" content="{{keywords}}">{{/if}}
    <meta name="description" content="{{#if description}}{{description}}{{else}}{{intro}}{{/if}}">
    <!-- /Meta -->

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{#if description}}{{description}}{{else}}{{intro}}{{/if}}" />
    <meta property="og:image" content="{{#if main_image}}{{main_image}}{{else if logo}}{{logo}}{{else if image_top}}{{image_top}}{{else}}{{path}}assets/favicons/apple-touch-icon.png{{/if}}" />
    {{#if page_url}}<meta property="og:url" content="{{page_url}}" />{{/if}}
    <meta property="og:site_name" content="{{#if site_name}}{{site_name}}{{else}}Knight Lab{{/if}}" />
    <!-- /Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{#if description}}{{description}}{{else}}{{intro}}{{/if}}">
    <meta name="twitter:image" content="{{#if main_image}}{{main_image}}{{else if logo}}{{logo}}{{else if image_top}}{{image_top}}{{else}}{{path}}assets/favicons/apple-touch-icon.png{{/if}}">
    <meta name="twitter:site" content="{{#if twitter_site}}{{twitter_site}}{{else}}@knightlab{{/if}}">
    <meta name="twitter:creator" content="{{#if twitter_author}}{{twitter_author}}{{else}}@knightlab{{/if}}">
    <!-- /Twitter Card -->


</head>
